.label,
.input {
  font-size: 1.5rem;
}

.label {
  margin: 1vmin 0 0;
  text-transform: capitalize;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.input {
  flex: 1;
  margin-bottom: 1vmax;
  padding: 1vmin;
  border-radius: 1vmin;
}

.rangeValue {
  position: absolute;
  padding: 4px 6px;
  left: 50%;
  top: 0;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1vmin;
}
