.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsList {
  display: flex;
  flex-wrap: wrap;
}

.itemsList li {
  flex: content;
}

.row {
  padding: 1vmax 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
