.wrapper {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #e6e6e6;
  overflow: auto;
  scrollbar-color: #f1f1f1 #232323;
  scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 8px;
}

.table {
  width: 100%;
}

.header {
  background-color: #f0f0f0;
  text-align: center;
  height: 3rem;
}

.headerContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #232323;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}

.fixedHeader {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: sticky;
  top: 0;
}

.header.fixed,
.header.fixedRight {
  z-index: 2;
}

.fixed {
  position: sticky;
  left: 0;
  z-index: 1;
}

.fixedRight {
  position: sticky;
  right: 0;
  z-index: 1;
}

.content {
  background-color: #f8f8f8;
}

.tbody {
  border: none;
}

.row {
  border-bottom: 2px solid #e6e6e6;
}

.row:last-child {
  border-bottom: none;
}

.cell {
  padding: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 16px;
  color: #232323;
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.cell * {
  margin: 0 auto;
}

.noLeftBorder {
  border-left: 0;
}

.noRightBorder {
  border-right: 0;
}

.loading {
  vertical-align: middle;
  height: 15vh;
  font-size: 16px;
  line-height: 20px;
  color: #818181;
  font-weight: 500;
  font-style: italic;
  background-color: #f8f8f8;
  text-align: center;
  opacity: 0.5;
  animation: glowing 1s infinite;
}

@keyframes glowing {
  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #a1a1a1;
  }

  35%,
  65% {
    opacity: 0.5;
    text-shadow: none;
  }
}

.noData {
  height: 2rem;
  color: #818181;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  background-color: #f8f8f8;
}
